/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondo2.jpg");
    font-family: 'Roboto', sans-serif import!;
}

/*estilos del header*/

.navegacion-uno .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navegacion-uno .navbar-toggler{
    border: 1px solid red;
}

.encabezado .navegacion-uno ul li a{
    color: white;
    text-decoration: none;
}

.encabezado img{
    height: 120px;
}

/*estilos del main*/

.import{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.import h1{
    text-align: center;
    color: white;
}

.import .p-uno{
    text-align: center;
    color: white;
}

.import img{
    height: 500px;
    margin: 30px;
}

.nosotros p{
    font-size: 22px;
    text-align: center;
}

/*estilos del footer*/

.pie-uno h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.pie-uno div{
    text-align: center;
}

.pie-dos div{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*media queries index*/

@media screen and (min-width: 600px){

    .import h1{
        font-size: 3rem;
    }

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2rem;
    }

    header img{
        height: 120px;
        padding: 0.5rem;
    }

    header nav ul{
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    header nav ul li{
        font-weight: bold;
        transition: 0.5s;
        font-size: 1.2rem;
        position: relative;

    }

    header nav ul li::before{
        content: "";
        height: 3px;
        width: 0%;
        background-color: darkgrey;
        position: absolute;
        left: 0;
        bottom: -12px;
        transition: 0.4s ease-out;
    }

    header nav ul li:hover::before{
        width: 100%;
    }

    header nav ul li:hover{
        transform: scale(0.9);
    }

    /*estilos nuevos del main*/

.import{
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 0.6fr  ;
    grid-template-rows: 0.3fr 1fr ;

    grid-template-areas: 
    "h1 img"
    "p img";

    
    }

    .import h1{
        grid-area: h1;
        font-size: 3rem;
        animation-name: animacion;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        padding-top: 50px;
        
    }

    @keyframes animacion {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(0);
        }
    }

    .import img{
        grid-area: img;
        border: 4px solid white;
        border-radius: 5px 2px 40px 0;
    }

    .import .p-uno{
        grid-area: p;
        margin: 5px;
        font-size: 1.5rem;
    }

    /*estilos del footer*/
    .pie-uno{
        margin-top: 0.2rem;
    }
}

/*ESTILOS DE NOSOTROS (MOBILE)*/


/*estilos del header*/

.encabezado-dos .navegacion-dos ul li a{
    text-decoration: none;
    color: white;
}

.encabezado-dos img{
    height: 120px;
}

/*estilos del main*/

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros img{
    height: 350px;
    margin: 3rem;
}

.nosotros .parrafo{
    color: white;
    margin: 2rem;
}

/*estilos del footer*/

.pie-dos h3{
    color: white;
    text-align: center;
}

.pie-dos div{
    text-align: center;
}

/*media queries nosotros*/

@media screen and (min-width: 600px){

    /*nuevo estilo del main*/

    .nosotros img{
        height: 500px;
    }
}









