/*imagen de fondo para todos los htmls*/
body {
  background-image: url("../img/fondo2.jpg");
  font-family: 'roboto', sans-serif; }

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del header*/
.encabezado {
  text-align: center; }
  .encabezado img {
    height: 120px; }
  .encabezado .navegacion-uno .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .encabezado .navegacion-uno .navbar-toggler {
    border: 1px solid red; }
  .encabezado .navegacion-uno ul li a {
    color: white;
    text-decoration: none; }

/*estilos del main*/
.import {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .import h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px; }
  .import .p-uno {
    text-align: center;
    color: white; }
  .import .resto {
    display: none; }
  .import .alitas {
    height: 500px;
    margin: 30px;
    border: 4px solid white;
    border-radius: 5px 2px 40px 0; }

/*Estilos de footer*/
.pie-uno div {
  text-align: center;
  color: white;
  font-weight: bold; }

/*Estilos del header*/
/*estilos del main*/
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nosotros .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 70px; }
  .nosotros .titulo {
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px; }
  .nosotros .equipo {
    height: 350px;
    margin: 3rem; }
  .nosotros .conocenos {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #181818;
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace; }
  .nosotros .parrafo {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold; }
  .nosotros .mision {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #181818;
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace; }
  .nosotros .parr-uno {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold; }
  .nosotros .vision {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #181818;
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace; }
  .nosotros .parr-dos {
    color: white;
    margin: 2rem;
    text-align: center;
    font-weight: bold; }

/*estilos del footer*/
.pie-dos div {
  text-align: center;
  color: white;
  font-weight: bold; }

/*estilos del header*/
/*estilos del main*/
.menu {
  margin-top: 100px; }
  .menu .container div {
    text-align: center; }
  .menu .cubiertos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .menu h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px; }
  .menu .menu-uno h2 {
    color: white;
    margin-top: 50px; }
  .menu .menu-uno p {
    color: white; }
  .menu .menu-uno img {
    height: 300px; }
  .menu .menu-dos h2 {
    color: white;
    margin-top: 50px; }
  .menu .menu-dos p {
    color: white; }
  .menu .menu-dos img {
    height: 300px; }
  .menu .menu-tres h2 {
    color: white;
    margin-top: 50px; }
  .menu .menu-tres p {
    color: white; }
  .menu .menu-tres img {
    height: 300px; }

/*estilos del footer*/
footer {
  margin-top: 25px; }
  footer div {
    text-align: center;
    color: white;
    font-weight: bold; }

/*estilos del header*/
/*estilos del main*/
.main-nosotros {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 100px; }
  .main-nosotros .icono {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
    .main-nosotros .icono img {
      height: 70px; }
  .main-nosotros .contacto {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    margin-top: 40px; }
  .main-nosotros .form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    text-align: center; }
    .main-nosotros .form .form-title {
      font-size: 2rem;
      margin-bottom: .5em; }
    .main-nosotros .form .form-paragraph {
      font-weight: 300; }
      .main-nosotros .form .form-paragraph .form-link {
        font-weight: 400;
        color: #000; }
    .main-nosotros .form .form-container {
      margin-top: 3rem;
      display: grid;
      gap: 2.5em; }
      .main-nosotros .form .form-container .form-group {
        position: relative;
        color: #5757577e; }
        .main-nosotros .form .form-container .form-group .form-input {
          width: 100%;
          background: none;
          color: #706c6c;
          font-size: 1rem;
          padding: .6em .3em;
          border: none;
          outline: none;
          border-bottom: 1px solid #5757577e;
          font-family: 'roboto', sans-serif; }
          .main-nosotros .form .form-container .form-group .form-input:focus + .form-label, .main-nosotros .form .form-container .form-group .form-input:not(:placeholder-shown) + .form-label {
            transform: translateY(-12px) scale(0.7);
            color: #3866f2; }
        .main-nosotros .form .form-container .form-group .form-label {
          color: #5757577e;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 5px;
          transform: translateY(10px);
          transition: transform .5s, color .3s; }
      .main-nosotros .form .form-container .form-submit {
        background-color: red;
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        padding: .8em 0;
        border: none;
        border-radius: .5em; }
  .main-nosotros .video {
    text-align: center; }
  .main-nosotros .mapa {
    text-align: center; }

/*estilos del header*/
.pie-tres div {
  color: white;
  font-weight: bold; }

/*estilos del header*/
/*estilos del main*/
.evento {
  margin-top: 100px; }
  .evento .micro {
    text-align: center;
    margin-bottom: 50px; }
  .evento h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    margin-top: 40px; }
  .evento .container .card {
    background-color: #1B2430; }
    .evento .container .card .card-body {
      color: white; }

/*estilos del footer*/
.pie-cuatro div {
  color: white;
  font-weight: bold; }

/* MEDIA QUERIES*/
@media screen and (min-width: 992px) {
  /*estilos nuevos del header (para todos los htmls)*/
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem; }
    header nav ul {
      gap: 2rem; }
      header nav ul li {
        font-weight: bold;
        transition: 0.5s;
        font-size: 1.2rem;
        position: relative; }
        header nav ul li::before {
          content: "";
          height: 3px;
          width: 0%;
          background-color: darkgrey;
          position: absolute;
          left: 0;
          bottom: -12px;
          transition: 0.4s ease-out; }
        header nav ul li:hover {
          transform: scale(0.9); }
          header nav ul li:hover::before {
            width: 100%; }
  /*estilos nuevos del main (MAIN DEL INDEX (INICIO)*/
  .import {
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: "h1 alitas" "resto alitas" "p alitas"; }
    .import h1 {
      grid-area: h1;
      font-size: 3rem;
      animation-name: animacion;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      padding-top: 50px; }
  @keyframes animacion {
    0% {
      transform: translateY(0); }
    50% {
      transform: translateY(10px); }
    100% {
      transform: translateY(0); } }
    .import .resto {
      grid-area: resto;
      display: block;
      justify-self: center;
      height: 400px; }
    .import .alitas {
      grid-area: alitas;
      border: 4px solid white;
      border-radius: 5px 2px 40px 0;
      height: 650px; }
    .import .p-uno {
      grid-area: p;
      margin: 5px;
      font-size: 1.5rem; }
  /*estilos nuevos del main (MAIN DEL SOBRE NOSOTROS)*/
  .nosotros {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "icon icon" "titulo titulo" "conocenos equipo" "parrafo equipo" "mision equipo" "parr-uno equipo" "vision equipo" "parr-dos equipo"; }
    .nosotros .icon {
      grid-area: icon;
      text-align: center; }
    .nosotros .titulo {
      grid-area: titulo; }
    .nosotros .conocenos {
      grid-area: conocenos;
      width: 50%;
      justify-self: center; }
    .nosotros .parrafo {
      grid-area: parrafo; }
    .nosotros .equipo {
      grid-area: equipo;
      height: 450px; }
    .nosotros .mision {
      grid-area: mision;
      width: 30%;
      justify-self: center; }
    .nosotros .parr-uno {
      grid-area: parr-uno; }
    .nosotros .vision {
      grid-area: vision;
      width: 30%;
      justify-self: center; }
    .nosotros .parr-dos {
      grid-area: parr-dos; }
  /*estilos nuevos del main (MAIN DEL MENU)*/
  .menu .container {
    display: flex;
    padding: 10px; }
    .menu .container div {
      background-color: #181818;
      margin: 10px;
      padding: 10px; }
  /*Estilos nuevos del main (MAIN DE CONTACTANOS)*/
  .main-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icono icono" "contacto contacto" "video form" "mapa form"; }
    .main-nosotros .icono {
      grid-area: icono; }
    .main-nosotros .contacto {
      grid-area: contacto; }
    .main-nosotros .video {
      grid-area: video;
      display: flex;
      justify-content: end; }
    .main-nosotros .form {
      grid-area: form; }
    .main-nosotros .mapa {
      grid-area: mapa;
      display: flex;
      justify-content: end; }
  /*estilos nuevos del main (MAIN DE EVENTOS)*/
  .evento .container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px; }
  /*estilos nuevos del footer (FOOTER DEL INDEX)*/
  .pie-uno {
    margin-top: 0.2rem; } }

/*llave final de la media queries (todo va adentro)*/
