
/*Estilos del header*/

/*estilos del main*/

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        height: 70px;
    }
    .titulo{
        color: white;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 70px;
    }

    .equipo{
        height: 350px;
        margin: 3rem;
    }
    .conocenos{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
        background-color: #181818;
        padding: 10px;
        font-size: 25px;
        font-family: 'Roboto Mono', monospace;
    }
    .parrafo{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
    }
    .mision{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
        background-color: #181818;
        padding: 10px;
        font-size: 25px;
        font-family: 'Roboto Mono', monospace;
    }

    .parr-uno{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .vision{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
        background-color: #181818;
        padding: 10px;
        font-size: 25px;
        font-family: 'Roboto Mono', monospace;
    }

    .parr-dos{
        color: white;
        margin: 2rem;
        text-align: center;
        font-weight: bold;
    }
}

/*estilos del footer*/

.pie-dos{
    div{
        text-align: center;
        color: white;
        font-weight: bold;
    }
}